body {
    height:700px;
}

.navbar {
    margin-bottom: 0;
}

form {
    width: 60%;
    margin: 0 auto;
}

h2 {
    margin-left: 90px;
}

label {
    margin-right: 15px;
}

.submit-btn {
    background-color: #5CB85C;
    color: white;
    margin-left: 85px;
}