
<article class="article">
    <header>
        <span>Creation date: 06-58-2017</span>
        <div class="article-controls">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </header>
    <main>
        <h2>Hello World!!!</h2>
        <p>Article content is here.</p>
    </main>
    <footer class="author-info">
        <div class="details-button"><a class="btn btn-primary" href="#" role="button">View details »</a></div>
        <span class="glyphicon glyphicon-user"> Author:</span><br>
        <span>Alexey Popov</span>
    </footer>
</article>






