body {
    height: 700px;
}

.navbar {
    margin-bottom: 0;
}

.article {
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    padding: 10px;
    height: 270px;
}

.article-controls {
    float: right;
    color: #337AB7;
    cursor: pointer;
}

.article main {
    padding-bottom: 10px;
    height: 160px;
}

.article footer {
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
}

hr {
    margin-bottom: 0;
}

.details-button {
    float: right;
}

.author-info .glyphicon-user {
    font-size: 11px;
}

.modal-title {
    display: block;
    font-size: 20px;
}

.close-button {
    margin-top: -25px;
}

.submit-btn {
    background-color: #5CB85C;
    color: white;
}

#article-board .row {
    padding-bottom: 30px;
}