<article data-article-id="23" class="article">
    <header>
        <span>Creation date: 12-05-2018</span>
        <div class="article-controls">
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#new-article"></span>
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </header>
    <main>
        <h2 class="article-title">dsf</h2>
        <p class="article-content">sdf</p>
    </main>
    <footer class="author-info">
        <div class="details-button">
            <a class="btn btn-primary" href="#" role="button">View details »</a>
        </div>
        <span class="glyphicon glyphicon-user">Author:</span><br><span>Author Name</span>
    </footer>
</article>



